@import url('https://fonts.googleapis.com/css?family=Pacifico: 100, 200, 300, 400, 500, 600, 700, 800 |Righteous: 100, 200, 300, 400, 500, 600, 700, 800 |Roboto+Mono: 100, 200, 300, 400, 500, 600, 700, 800');

/*------------------------------------Background Colours*/

.bg-color-monkees {
	background: #bb3928;
	/*obtained from monkees.com*/
}
body {
	overflow-x: hidden;
	width: 100vw;
	font-family: "Righteous", sans-serif;
	color: #fafafa;
	margin: 0;
}
/*-----------------------------------General Styles*/

.container-fluid {
	max-width: 100%;
}
h2 {
	width: 100%;
}
.heading-uppercase {
	font-size: 4rem;
	font-family: "Righteous", sans-serif;
	font-weight: 800;
	text-align: center;
	margin: 25px 0;
}
img {
	display: block;
	margin: 0 auto;
}
.opaque-overlay {
	/*From Bootstrap Lesson*/
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(25, 25, 25, 0.2);
}
.fa-facebook {
	color: #fafafa;
	background-color: #365899;
}
.fa-twitter {
	background: #fafafa;
	color: #1b95e0;
}
.fa-instagram {
	background: #f09433;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	color: #fafafa;
}
.fa-youtube {
	background: #ff0000;
	color: #fafafa;
}
/*-----------------------------------Navigation*/

.navbar {
	width: 100%;
	position: absolute;
	margin-bottom: 0;
	z-index: 1;
	font-family: "Righteous", sans-serif;
	background: transparent;
	background: rgba(0, 0, 0, 0.8);
	border-bottom: none;
}
.navbar-default .navbar-brand {
	font-size: 24px;
	color: #bb3928;
	line-height: 24px;
}
.navbar-nav {
	margin-left: 20px;
}
.navbar-default .navbar-nav .menuitem {
	font-size: 24px;
}
.navbar-default .navbar-nav .menuitem a {
	color: #bb3928;
	text-decoration: none;
}
.navbar-default .navbar-brand:hover {
	color: #bb3928;
	background: rgba(245, 245, 245, 0.4);
}
.navbar-default .navbar-nav .menuitem:hover {
	background: rgba(245, 245, 245, 0.4);
	text-decoration: none;
	font-weight: 700;
}
.navbar button {
	border: none;
	background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #bb3928;
}
.navbar-toggle {
	background-color: rgba(0, 0, 0, 0.5);
}
.navbar-nav i {
	text-align: center;
	font-size: 24px;
	padding: 10px;
	color: #bb3928;
}
/*-----------------------------------Home Section*/

.home-container {
	height: 100vh;
	width: 100%;
	background: url('../images/monkees.jpg') no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	align-items: center;
	justify-content: center;
	position: relative;
}
.home-row {
	padding: 10% 0;
	height: 80%;
	align-items: center;
}
.video-col {
	background: rgba(10, 10, 10, 0.5);
}
video {
	display: block;
	width: 100%;
	margin: 0 auto 50px auto;
}
/*-----------------------------------About Section*/

.about-container {
	height: 100%;
	width: 100%;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 60px;
	color: #fafafa;
	background: #bb3928;
}
.about-row {
	margin-top: 30px;
}
.about-container img {
	height: 150px;
}
.band {
	background: #fafafa;
	color: #bb3928;
	padding: 20px 10px;
	border: 8px solid #bb3928;
	height: 400px;
}
.name {
	font-variant: small-caps;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	font-family: 'Pacifico', cursive;
}
.info {
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
}
/*-----------------------------------Music Section*/

.music-container {
	height: 100%;
	background: url('../images/vertical_guitar.png') no-repeat center fixed;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	align-items: center;
	justify-content: center;
	position: center;
	color: #bb3928;
	padding-bottom: 50px;
}
.music-paragraph {
	font-family: "Righteous", sans-serif;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 2rem;
	line-height: 4rem;
	letter-spacing: 0.5rem;
	color: #fafafa;
	font-size: 2rem;
}
.music-paragraph .contact-details a {
	color: #bb3928;
}
.music-paragraph a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: #bb3928;
	text-decoration: none;
}
.song-title {
	font-size: 2em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 15px;
	color: #fafafa;
}
.music img {
	width: 80%;
	margin-top: 35px;
}
audio {
	width: 80%;
	display: block;
	margin: 0 auto;
}
/*-----------------------------------Image Container*/

.image-container {
	color: #fafafa;
	padding: 40px 0;
}
.image-row {
	align-items: center;
	justify-content: center;
	position: relative;
}
/*-----------------------------------Events Container*/

.events-container {
	height: 100%;
	width: 100%;
	background: url('../images/vertical_guitar.png') no-repeat center fixed;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	align-items: center;
	justify-content: center;
	position: relative;
	color: #bb3928;
	font-family: "Righteous", sans-serif;
	padding-bottom: 20px;
}
.events-heading {
	color: #bb3928;
}
.table {
	background-color: #000000;
	color: #ffffff;
	width: 100%;
	max-width: 100%;
	font-variant: small-caps;
	margin: 0 auto;
}
.table th {
	font-size: 24px;
	font-weight: 800;
}
.table td {
	height: 45px;
	font-size: 18px;
}
.events-paragraph {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	font-size: 2rem;
	line-height: 3rem;
	letter-spacing: 5px;
	color: #fafafa;
	padding: 10px 5px 30px 5px;
	background-color: rgba(2, 2, 2, 0.5);
}
.events-paragraph .contact-details {
	font-size: 20px;
	letter-spacing: 1px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 800;
	color: #bb3928;
}
.events-paragraph .contactForm {
	color: #bb3928;
}
.form-horizontal {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}
.form-control {
	margin: 8px 0;
}
.submit-button {
	font-size: 20px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
/*-----------------------------------Media Footer*/
.footer {
	color: #fafafa;
	width: 100%;
	font-family: "Righteous", sans-serif;
	background: #bb3928;
	padding: 3em 0;
	margin: 0;
}
.footer-paragraph {
	text-align: center;
	font-size: 18px;
}
.footer-paragraph i {
	height: 50px;
	width: 50px;
	font-size: 40px;
	margin: 10px 5px 10px 5px;
}
/*-----------------------------------Media Queries*/

@media screen and (min-width: 768px) {
	.navbar {
		background: transparent;
	}
	.about-container img {
		height: 200px;
	}
	.table {
		max-width: 90%;
	}
	.music-paragraph {
		font-size: 3rem;
	}
	.events-paragraph .contact-details {
		font-size: 24px;
	}
	.events-paragraph .contact-details {
		font-size: 24px;
	}
}
@media screen and (min-width: 992px) {
	video {
		height: 320px;
	}
	.music-container {
		background: url('../images/guitar.png') no-repeat center center fixed;
	}
	.image-row {
		display: flex;
	}
	.events-container {
		background: url('../images/guitar.png') no-repeat center center fixed;
	}
	.events-paragraph .contact-details {
		letter-spacing: 5px;
	}
}